
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f4f8;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 25vh;
  width: 100vw;
  background: linear-gradient(to bottom left, #0aa2cc, #0fcee7);
  color: #fff;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(148, 141, 141, 0.737);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

button {
  background-color: #065d8f;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 25px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #148f77;
  transform: translateY(-3px);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.1rem;
    margin-bottom: 15px;
  }
  p {
    font-size: 1.4rem;
  }
  button {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.6rem;
  }

  p {
    font-size: 0.9rem;
  }

  button {
    padding: 8px 16px;
    font-size: 0.85rem;
  }
}

#main {
  position: absolute;
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

#ii {
  height: 75%;
  width: 100vw;
  position: absolute; 
  top: 25vh;
  background-image: url(157b13d4-0174-4d9f-8013-a445b5fe7813.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: -1;
  filter: blur(16px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.bo {
  width: 30vw;
  height: 35vh;
  margin: 20px;
  display: flex;
  align-items: center;
  background-color: #f9eeee;
  border-radius: 15px;
  box-shadow: 2px 4px 10px rgb(0, 0, 0);
  transition: transform 0.2s;
  overflow: hidden;
  opacity: 0; /* Default opacity for animation */
}

.bo:hover {
  transform: translateY(-5px);
  background-color: rgb(190, 236, 239);
}

.bo img {
  width: 60%;
  height: 60%;
  object-fit: contain;
  position: relative;
  left: -20px;
}

/* Keyframes for animations */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    transform: translateX(100vw);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-bottom {
  0% {
    transform: translateY(100vh);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}



@media (max-width: 768px) {
  .bo {
    width: 60vw;
    height: 27vh;
  }
}

@media (max-width: 480px) {
  .bo {
    width: 45vw;
    height: 20vh;
  }
}
